<p>user works!</p>

<form>
  <div class="signUp" >
    <!--signUp heading section -->
    <h3 class="mb-2">SignUp</h3>
    <!--  Signup username input-->
    <div class="form-group">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username" />
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-at"></i>
          </span>
        </div>
      </div>
    </div>
    <!--  signup password input-->
    <div class="form-group">
      <div class="input-group mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="password"
          aria-label="password"
          aria-describedby="basic-addon1"
        />
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-lock"></i>
          </span>
        </div>
      </div>
    </div>
    <!--  signup  confirm password input-->

    <div class="form-group">
      <div class="input-group mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="confirm password"
          aria-label="password"
          aria-describedby="basic-addon1"
        />
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-lock"></i>
          </span>
        </div>
      </div>
    </div>
    <!--  signup create button-->

    <div class="text-right">
      <button class="btn-lg" mat-raised-button color="primary">
        Create Account
      </button>
    </div>
  </div>
  <!-- messege Section -->
</form>
