<!--############################## OverView Section #######################-->
<section class="overview">
  <h1>User Overview</h1>
  <div class="row">
      <div class="col-md-4 mb-4 mb-md-0" *ngFor="let item of cardArray">
          <div class="cardn">
              <div class="row mb-30">
                  <div class="col-4 offset-1">
                      <h1 class="mt-2">{{item.headingName}}</h1>
                  </div>
                  <div class="col-3 offset-1">
                      <div class="minbox">
                          <h1>{{item.percent}}</h1>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-10">
                      <ul class="proghe">
                          <li>In Progress</li>
                          <li class="list">32%</li>
                      </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="col-10">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="32" aria-valuemin="0"
                              aria-valuemax="100"><i class="fa-solid text-white fa-circle"></i>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>

  </div>
</section>


<!--############################## Loan Section ############################-->
<section class="loan">
  <h1>Loan</h1>
  <div class="loan-container">
      <div class="row loan-n">
          <div class="col-md-4 col-sm-12 loan-box loan-b col-12">
              <img class="vector-loan" src="../../../../assets/images/vector.png" alt="">
              <figure class="loan-icon text-center text-white">
                  <img src="../../../../assets/images/coin.png" alt="coin logo">
                  <figcaption>
                      <p>SME Loans</p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4 col-sm-12 loan-box loan-b col-12">
              <figure class="loan-icon text-center text-white">
                  <img src="../../../../assets/images/receipt-minus.png" alt="minus logo">
                  <figcaption>
                      <p>Local purchase order</p>
                      <button mat-raised-button>Apply</button>
                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4 col-sm-12 loan-box col-12">
              <img class="vector-invoice" src="../../../../assets/images/vector-lg.png" alt="">
              <figure class="loan-icon text-center text-white">
                  <img src="../../../../assets/images/archive-book.png" alt="book logo">
                  <figcaption>
                      <p>Invoices</p>
                  </figcaption>
              </figure>
          </div>
      </div>
  </div>
</section>



<!--############################## Loreum Section #########################-->
<section class="loreum">
  <div class="row loreum-minsec">
      <div class="col-md-3 col-sm-3 col-12 mb-4 md-mb-0">
          <img src="../../../../assets/images/frame.jpg" alt="Frame Image">
      </div>
      <div class="col-md-9 col-sm-6 col-12">
          <div class="">
              <h1>Lorem ipsum dolor </h1>
              <p class="para">Lorem ipsum dolor sit amet consectetur. Dictumst quis in dui fringilla id cras montes
                  laoreet eget.
                  Tristique justo cursus tortor arcu. Aliquam vivamus tempus nam in phasellus tristique eleifend.
                  Morbi lobortis mattis et sit lectus placerat quisque. Urna viverra sagittis at mauris. At at risus
                  amet consectetur eu aliquam. Et nulla ut.</p>
          </div>
      </div>
  </div>
  <div class="row d-flex flex-row-reverse loreum1">

      <div class="col-md-3 col-sm-3 col-12 mb-4 md-mb-0">
          <img src="../../../../assets/images/frame.jpg" alt="Frame Image">
      </div>
      <div class="col-md-9 col-sm-6 col-12">
          <div>
              <h1>Lorem ipsum dolor </h1>
              <p class="para">Lorem ipsum dolor sit amet consectetur. Dictumst quis in dui fringilla id cras montes
                  laoreet eget.
                  Tristique justo cursus tortor arcu. Aliquam vivamus tempus nam in phasellus tristique eleifend.
                  Morbi lobortis mattis et sit lectus placerat quisque. Urna viverra sagittis at mauris. At at risus
                  amet consectetur eu aliquam. Et nulla ut.</p>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3 mb-4 mb-md-0 col-sm-6 col-12">
          <figure class="mythumb">
              <img src="../../../../assets/images/frame.jpg" alt="Frame Image">
              <figcaption class="text">
                  <h3>Lorem ipsum dolor </h3>
                  <p>Lorem ipsum dolor sit amet consectetur</p>
              </figcaption>
          </figure>
      </div>
      <div class="col-md-3 mb-4 mb-md-0 col-sm-6 col-12">
          <figure class="mythumb">
              <img src="../../../../assets/images/frame.jpg" alt="Frame Image">
              <figcaption class="text">
                  <h3>Lorem ipsum dolor </h3>
                  <p>Lorem ipsum dolor sit amet consectetur</p>
              </figcaption>
          </figure>
      </div>
      <div class="col-md-3 mb-4 mb-md-0 col-sm-6 col-12">
          <figure class="mythumb">
              <img src="../../../../assets/images/frame.jpg" alt="Frame Image">
              <figcaption class="text">
                  <h3>Lorem ipsum dolor </h3>
                  <p>Lorem ipsum dolor sit amet consectetur</p>
              </figcaption>
          </figure>
      </div>
      <div class="col-md-3 mb-4 mb-md-0 col-sm-6 col-12">
          <figure class="mythumb">
              <img src="../../../../assets/images/frame.jpg" alt="Frame Image">
              <figcaption class="text">
                  <h3>Lorem ipsum dolor </h3>
                  <p>Lorem ipsum dolor sit amet consectetur</p>
              </figcaption>
          </figure>
      </div>
  </div>
</section>
